.searchbar{
    background-color: #5DB1D1;
    font-size: 0.25em !important;
    height: 45px;
    
}

.mayusculas{
    text-transform: capitalize;
}
.avatar{
      margin-left: 30%;
  }
.labelCloud{
      margin-right: -40%;
  }
.infoCard{
    background-color: lightyellow;
}