<div class="slides">
  <ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
          <h1>Bienvenido a CalcuFit</h1>
          <img src="../../../assets/images/fit7.png" alt="">
          <h1>Cuenta calorías</h1>
        </ion-slide>
      <ion-slide>
        <h1>Ponte en forma...</h1>
        <app-logo></app-logo>
        <h1>...aprende nuevas dietas</h1>
      </ion-slide>
      <ion-slide>
        <h1>Alimentate saludablemente y...</h1>
        <img src="../../../assets/images/mujerfit.png" alt="">
        <h1>..alcanza tus Objetivos</h1>
      </ion-slide>
      <ion-slide>
        <h1>Registra tu consumo de alimentos...</h1>
        <app-logo2></app-logo2>
        <h1>...controla lo que comes</h1>
      </ion-slide>
      <ion-slide>
        <h1>Patrocinado por</h1>
        <img src="../../../assets/images/yavirac.png" alt="">
        <i><u>
          <h6>DESARROLLO DE SOFTWARE</h6>
        </u></i>
      </ion-slide>
      

    </ion-slides>

  </ion-content>
</div>